* {box-sizing: border-box}

body{
	font-family: Montserrat;
	font-weight: 300;
}

h1, h2{
	color: #4B4237;
	text-transform: uppercase;
}

h1, .role{

	font-weight: 500;
}

.details a, .details a:link, .details a:hover, .details a:visited{
	color: #fff;
}

.ref a, .ref a:link, .ref a:hover, .ref a:visited{
    color: #D5A021;
}

hr{
	margin: 40px 0 0 0;	
    color: #D5A021;
}

.section{
	padding-top: 40px;
	padding-bottom: 20px;
}

.sub{
	color: #D5A021;
}

.responsibilities, .sub{
	padding-top: 20px;
}

.details{
	background-color: #D5A021;
	color: #fff;
	padding: 5px 0px 5px 0px;
}

.icon{
	text-align: center;
}

@media only screen and (max-width: 767px) {
  .icon {
    border-right: 0;
    border-bottom: 1px solid #fff;
  }
  
  .icon:last-child{
		border: 0;
	}
}

@media only screen and (min-width: 768px) {
	.icon{		
		border-right: 1px solid #fff;
	}

	.icon:last-child{
		border: 0;
	}
}

.skills, .references{
	width: 100%;
	display: grid;
}

.skill-level {
	float: left;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	background-color: #A49694;
	color: white;
}

.skill{
	float: left;
	padding-left: 0.4rem;
}

.php {width: 90%;}
.mysql {width: 80%;}
.git {width: 70%; }
.css {width: 65%;}
.sass {width: 50%;}
.bs {width: 45%;}
.html5 {width: 43%;}
.js {width: 40%;}

::selection {
  background: #ede7d9; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}